@charset "UTI-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
    font-family: 'Frutiger Bold';
    src: url('../_fontes/FTB.ttf') format('truetype');
    font-weight: bold;

    font-family: 'Frutiger Light Condensed';
    src: url('../_fontes/FTLC.ttf') format('truetype');
    font-weight: lighter;

    font-family: 'Frutuger Ultra Black';
    src: url('../_fontes/FTUBL.ttf') format('truetype');
    font-weight: bolder;
}

:root {
    --cor1: #732C46;
    --cor2: #f7a81b;
    --cor3: #44A69C;
    --cor4: #30D9D9;
    --cor5: #BF8821;
    --cor6: #a7aca2;
    --cor7: #54565a;
    --cor8: #ebebeb;
    --cor9: #ffffff;
    --cor10: #000000;

    --fonte1: 'Frutiger Light Condensed', cursive;
    --fonte2: 'Frutiger Bold', cursive;
    --fonte3: 'Frutuger Ultra Black'. cursive;
    --fonte4: 'Open Sans', sans-serif;
    --fonte5: 'Open Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--fonte4);
    max-width: 1080px;
    max-height: 2400px;
    margin: auto;
    background-color: white;
    border-left: 1px solid --cor1;
    border-right: 1px solid --cor1;
}

header nav {
    background-color: rgba(211, 211, 211, 0.5);
    vertical-align: middle;
    text-align: center;
    padding: 2px 0px 4px 0px;
}

header nav a {
    background-color: var(--cor1);
    padding: 5px 4px;
    font-size: 0.6em;
    font-weight: bold;
    color: white;
    border: 1px solid var(--cor1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-decoration: none;
}

header nav a:hover {
    background-color: var(--cor4);
    color: var(--cor3);
    text-decoration: underline;  
}

section {
    background-color: white;
    border-left: 1px solid var(--cor2);
    border-right: 1px solid var(--cor2);
    color: #3b3535;
    padding: 5px;
}

.bg2  ul {
    padding: 20px;
}

.bg4  ul {
    font-size: 1.0em;
    padding: 5px;
}

.bg2 ul li {
    list-style-type: none;
}

.bg4 ul li {
    font-family: var(--fonte4);
    list-style-type: none;    
}

.bg2 li a{
    font-size: 0.8em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 10px;
}

.bg4 li a{
    font-size: 0.8em;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-left: 3px;
}

.bg2 li a:hover {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: underline;
}

.bg4 li a:hover {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: underline;
}

.bg2,.bg4 ol {
    padding: 5px 0px 5px 30px;
}

.bg2,.bg4 ol li {
    list-style-type: lower-roman;
    font-size: 0.8em;
    color: black;
    padding-left: 5px;
}

.bg2,.bg4 h1 {
    font-size: 1em;
    font-weight: bold;
    color: #3155a4;
    padding: 5px;
    text-align: left;
}

.bg2,.bg4 h2 {
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    padding: 5px;
    text-align: left;
}

.bg2,.bg4 p{
    font-size: 0.8em;
    font-weight: 1em;
    color: rgb(65, 64, 64);
    padding-left: 8px;
    padding-right: 8px;
    text-align: justify;
}

.artigo17 li {
    font-size: 0.8em;
    font-weight: 1em;
    padding-left: 10px;
    margin-left: 25px;
    list-style:decimal
}

section #data {
    text-align: right;
    padding-top: 20px;
}

section #sign {
    padding: 15px 0px 0px 8px;
}
